{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'students/style.css' %}">
{% if all_students %}
    <ul>
    {% for student in all_students %}
        {# piping lower with |lower enables the lower function to be called on the string object #}
        <li><a href="/students/{{ student.first_name|lower }}/{{ student.last_name|lower }}/">{{ student.first_name }} {{ student.last_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No students enrolled yet.</p>
{% endif %}
