ul {
  list-style: none;
  padding: 0px;
}

h1,
h2 {
  color: royalblue;
}

table a {
  color: royalblue;
  text-decoration: none;
}

p a {
  color: green;
  text-decoration: overline;
}

p a:visited {
  color: green;
}
